<footer>
    <!-- dynamic footer with brand and date -->
    <div class="footer-text">
        <p>&copy; <%= new Date().getFullYear() %> Made by stjepanDeveloper</p>
    </div>
    
</footer>

