<%- include('partials/header') %>

<!-- About you page for information about the app -->

<div class="container mt-5 about-container">
    <h1 class="about-title">About BookNotes App</h1>
    <div class="about-text">
        <p>This web application was created by stjepanDeveloper. The BookNotes App is designed to help book enthusiasts organize the books they've read. It allows users to rate books, write comments, and keep everything neatly sorted.</p>
        <p>With BookNotes, you can easily reflect back on your favorite reads and the thoughts they inspired. It's the perfect tool for avid readers looking to track their literary adventures.</p>
        <p>Stay tuned for more features and improvements to enhance your book tracking experience!</p>
    </div>
    
</div>

<%- include('partials/footer') %>